.__eslidegallery-container {
    position: relative;
}
.__eslidegallery-slide {
    background-position: center;
    background-size: cover;
    transition: .9s;
    position: absolute;
    height: 64%;
    width: 25%;
    top: 18%;
    left: 50%;
    z-index: 10;
}
/*left*/
.__eslidegallery-left .__eslidegallery-slide:nth-child(2) {
    height: 100%;
    width: 40%;
    top: 0;
    left: 20%;
    right: initial;
    z-index: 100;
}
.__eslidegallery-left .__eslidegallery-slide:nth-child(3) {
    height: 80%;
    width: 32%;
    top: 10%;
    left: 53%;
    right: initial;
    z-index: 90;
}
.__eslidegallery-left .__eslidegallery-slide:nth-child(4) {
    height: 64%;
    width: 25%;
    top: 18%;
    left: 75%;
    right: initial;
    z-index: 80;
}
.__eslidegallery-left .__eslidegallery-slide:nth-child(1) {
    height: 80%;
    width: 32%;
    top: 10%;
    left: 0%;
    right: initial;
    z-index: 90;
}
.__eslidegallery-left .__eslidegallery-slide:last-child {
    height: 80%;
    width: 32%;
    top: 10%;
    left: 0%;
    right: initial;
    z-index: 70;
}
/*.__eslidegallery-left .__eslidegallery-slide:nth-last-child(2) {
    height: 64%;
    width: 45%;
    top: 18%;
    left: initial;
    right: 0;
    z-index: 80;
}*/

/*right*/
.__eslidegallery-right .__eslidegallery-slide:nth-child(3) {
    height: 100%;
    width: 40%;
    top: 0;
    left: 40%;
    right: initial;
    z-index: 100;
}
.__eslidegallery-right .__eslidegallery-slide:nth-child(4) {
    height: 80%;
    width: 32%;
    top: 10%;
    left: 68%;
    right: initial;
    z-index: 90;
}
.__eslidegallery-right .__eslidegallery-slide:nth-child(1) {
    height: 64%;
    width: 25%;
    top: 18%;
    left: 0%;
    right: initial;
    z-index: 80;
}
.__eslidegallery-right .__eslidegallery-slide:nth-child(2) {
    height: 80%;
    width: 32%;
    top: 10%;
    left: 15%;
    right: initial;
    z-index: 90;
}
.__eslidegallery-right .__eslidegallery-slide:last-child {
    height: 64%;
    width: 25%;
    top: 18%;
    left: 0%;
    right: initial;
    z-index: 70;
}
/*center*/
/*.__eslidegallery-active-center .slide-active {
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0%;
    left: 25%;
    z-index: 100;
}
.__eslidegallery-active-center .slide-next,
.__eslidegallery-active-left .slide-next {
    position: absolute;
    height: 80%;
    width: 50%;
    top: 10%;
    right: 0%;
    z-index: 100;
}
.__eslidegallery-active-center .slide-prev {
    position: absolute;
    height: 80%;
    width: 50%;
    top: 10%;
    right: 0%;
    z-index: 100;
}*/